<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Asignar doctor</title>
<link th:href="@{/styles/css/cool_form.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet"> 
<link th:href="@{/styles/css/font_awesome.css}" rel="stylesheet">
</head>
<body>
	<h1 style="text-align: center;">Asignar Doctor</h1>

	<h2>Medicina General</h2>

	<table class="t01">

		<thead>
			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>



	</table>
	<br>

	<h2>Traumatología</h2>

	<table class="t02">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Cardiología</h2>

	<table class="t03">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Neurología</h2>

	<table class="t04">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Neumología</h2>

	<table class="t05">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Nefrología</h2>

	<table class="t06">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	
	<button id="btn-abrir-popup" class="btn">¿Necesitas ayuda?</button>

		<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>¿Ayuda para asignar un doctor?</h3>
				<h4>· Quizás la versión que estás utilizando de salUMAble sea una versión antigua:</h4>
				<h4>Prueba a hablar a alguno de los desarrolladores(majo es la unica que entiende, y cestino es un guapera)</h4>




			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/popup.js}"></script>


</body>
</html>