<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página paciente</title>
<link th:href="@{/styles/css/colores_main.css}" rel="stylesheet" />
<link rel="shortcut icon" href="images/LOGO.png">
<link th:href="@{/styles/css/font_awesome.css}" rel="stylesheet">
</head>
<body class = "fondo_paciente">

	<div class="caja"><h1>Bienvenido</h1>
	<h1  class="caja" th:text="${nombrePaciente}"></h1>
	<h1  class="caja" th:text="${apellidosPaciente}"></h1>
	 </div>
	
	<br>
	<div th:switch="@{p.estadoCola}">
	<a th:href="@{/paciente/estado/{pos}(pos = ${estadoCola})}">
	<button th:case="0" class="redirect">Ver tu estado en la cola</button>	
	</a>
	</div>
	
	<br>
	<br>
	
	<div th:switch="@{p.estadoCola}">
	<a th:href="@{/paciente/tratamiento/{tratamiento}(tratamiento = ${tratamientoPaciente})}">
	<button th:case="2" class="redirect">Tratamiento</button>	
	</a>
	<a th:href="@{/paciente/tratamiento/{tratamiento}(tratamiento = ${tratamientoPaciente})}">
	<button th:case="-1" class="redirect">Tratamiento</button>	
	</a>
	</div>
	
	<br>
	<br>
	
	
	<a th:href="@{/}">
	<button class="logout">Logout</button>
	 </a>
	 
	
</body>
</html>