<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Asignar doctor</title>
<link th:href="@{/styles/css/asignar_doctor.css}" rel="stylesheet" />
</head>
<body>
	<h1 style="text-align: center;">Asignar Doctor</h1>

	<h2>Medicina General</h2>

	<table class="t01">

		<thead>
			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>



	</table>
	<br>

	<h2>Traumatología</h2>

	<table class="t02">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Cardiología</h2>

	<table class="t03">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Neurología</h2>

	<table class="t04">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Neumología</h2>

	<table class="t05">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>
	<h2>Nefrología</h2>

	<table class="t06">
		<thead>

			<tr>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td></td>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a><button type="button" id="boton_uno"
							class="boton-estado btn-default">Asignar</button> </a></td>

			</tr>
		</tbody>
	</table>



</body>
</html>